/* geral settings */

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #290742;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;

  font-size: 18px;

  text-transform: none;

  width: 100vw;
}

/* HEADER SECTION */

header {
  max-width: 1170px;
  margin: 64px auto;
  height: 44px;

  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

#nav {
  color: white;
  font-weight: bold;

  display: flex;
  flex-basis: 450px;
  justify-content: space-between;
  align-items: center;
}

#nav div a {
  padding-left: 10px;
}

/* nav animations */

#nav div::before {
  position: absolute;

  content: ' ';
  width: 2px;
  height: 0px;
  background-color: #4fff4b;

  transition: all 0.2s;
}

#nav div:hover::before {
  height: 20px;
}

/* IMPUT SECTION */

#search {
  display: flex;
  align-items: center;
}

#input-search {
  width: 230px;
  height: 44px;
  border: none;

  border-radius: 5px 0px 0px 5px;
  background-color: #170027;
}

#button-search {
  width: 70px;
  height: 44px;
  background-color: #9e6dc2;

  border-radius: 0px 5px 5px 0px;
  border: none;
}

/* introduction section */

#introduction {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  max-width: 1170px;
  width: 100%;
  margin: auto;
}

#intro-text h1 {
  color: #9e6dc2;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

  margin-bottom: 16px;
}

#intro-text p {
  color: #fbf6ff;
  line-height: 27px;

  margin-bottom: 24px;
}

#intro-text h1,
#intro-text p,
#intro-text div {
  padding-left: 10px;
}

#intro-text {
  width: 566px;
  height: 330px;

  border-radius: 20px;

  position: relative;

  transition-property: all;
  transition-duration: 0.2s;
}

#buttom-veja-mais {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: bold;
}

#a-veja-mais {
  color: #9e6dc2;
}

/* INTRO TEXT TRANSITION */

#intro-text::before {
  content: ' ';
  width: 0px;
  height: 1px;
  background-color: #4fff4b;

  position: absolute;
  top: 100%;
  left: 3%;
}

#intro-text:hover {
  background-color: #170027;
}

#intro-text:hover::before {
  width: 535px;

  animation-name: animationIntro;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes animationIntro {
  0% {
    background-color: black;
  }

  10% {
    background-color: #4fff4b;
  }

  50% {
    background-color: black;
  }

  75% {
    background-color: #4fff4b;
  }

  100% {
    background-color: black;
  }
}

#intro-text:hover #buttom-veja-mais img {
  padding-left: 10px;
  transition: all 0.5s;
}

/* LINE TRANSITION */

#bg-green {
  margin: 64px auto 0;
  width: 100vw;
  max-width: 1200px;
  height: 2px;
  background-color: #4fff4b;

  animation-name: line-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes line-animation {
  from {
    background-color: #4fff4b;
  }

  to {
    background-color: rgb(4, 84, 1);
  }
}

/* INTRO BOTTOM SECTION */

#introduction-bottom {
  background-image: url(https://rare-gallery.com/uploads/posts/997812-retro-games-dark-video-games-arcade-cabinet.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}

#introduction-bottom-2 {
  width: 100%;
  height: 40vh;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(41, 7, 66, 1) 100%
  );
}

/* INTRODUCTION BUTTOMS SECTION */

#introduction-buttom {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 70px;

  display: flex;
  justify-content: space-between;
}

.bg-buttom {
  background-color: white;
  border-radius: 100%;

  width: 180px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: all;
  transition-duration: 0.2s;
}

.bg-buttom:hover {
  background-color: #4fff4b;
  padding-left: 10px;

  width: 190px;
  height: 190px;
}

/* LINKS SECTION */

#links {
  padding: 60px 0 0;
  background-color: #fbf6ff;
}

#links-1 {
  display: flex;
  gap: 130px;

  max-width: 1171px;
  margin: 0 auto;
}

#links h2 {
  font-family: 'Poppins', sans-serif;
  color: #290742;
  font-size: 24px;
  line-height: 36px;

  padding: 10px 0;
}

#links p {
  font-size: 16px;
  line-height: 24px;
}

#links-escrita-1 {
  padding-bottom: 23.6px;
  width: 475px;
}

#links-escrita-2 {
  padding: 23.6px 0;
  border-top: 1px solid #f2e7fa;
}

#links-escrita-3 {
  padding: 23.6px 0;
  border-top: 1px solid #f2e7fa;
}

/* MORE LINKS SECTION */

#more-links {
  padding: 63.8px 0;

  background-color: #fbf6ff;

  display: flex;
  justify-content: center;
  gap: 30px;
}

.more-links-1 {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.more-links-1 h1 {
  color: #290742;
  font-size: 24px;
  text-align: 36;
}

.more-links-1 p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* FOOTER SECTION */

footer {
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

footer h1 {
  font-family: 'roboto';
  color: #fff;
  font-size: 30px;
}

#icons-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#icons-footer img {
  width: 50px;
  height: 50px;
}

#links-footer {
  display: flex;
  justify-content: center;

  color: #fff;
  font-size: 13px;
}

#links-footer h2 {
  border-right: 1px solid white;
  padding: 0 20px;
}

#h2-border-none {
  border: none !important;
}
